<form action="/users/login" method="POST">
  <h2 class="text-center">Check your mail</h2>
  </br>
  <p style="color:red; text-align:center">If your email is a match in our system a password reset email will be sent to you.</p>
</form>
<p class="text-center"><a href="http://localhost:5000/users/login">Login</a></p>
